video {
  position: absolute;
  height: 600px;
  z-index: 10;
  pointer-events: none;
  opacity: .3;
}

body {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 550px 1fr;
  grid-template-rows: 86px 1fr 58px;
}

.top {
  background: purple;
  grid-column-end: span 2;
}

.left {
  background: green;
}

.right {
  background: orangered;
}

.bottom {
  background: blue;
  grid-column-end: span 2;
}
